@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Quốc Thống
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0123 456 789
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:KangYeonSak123@gmail.com">KangYeonSak123@gmail.com</a><br />
</address>